.storiesOuter {
    border: 1px solid rgb(219,219,219);
    border-radius: 3px;
}

.storiesBar {
    padding: 10px 20px;
    color: gray;
    font-weight: bold;
    font-size: 10pt;
}

.stories {
    display: block;
    padding: 0 20px;
    max-height: 250px;
    overflow-y: scroll
}