.profileIcon {
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}